/* 

  .news:hover {
    transition: box-shadow 1s ease;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.4);
  }
  
  .newsLink {
    text-decoration: none;
    color: inherit;
  }

  
 
  
  .badge {
    background-color: #dc3545;
    color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    transition: transform 1s ease;
    transform: translateY(-30%);
  }
  
  .news:hover .badge {
    transform: translateY(-30%) translateX(-20%);
  }
  
 
  
  .readMoreLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #dc3545;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: 500;
  }
  
  .readMoreLink:hover {
    transition: color 1s ease-in-out, background 1s ease-in-out;
    background: #ba1828;
    color: #989696;
  }
  
  .newsIndex {
    color: #919191;
  }
  
  .activeCard {
    color:white;
  }
   */
   .activeCard {
    color: rgb(231, 115, 115);
  
    .badge {
      transform: translateY(-30%) translateX(-20%);
    }
  }
  .newsCont{
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 92vh;
    /* background: #d1efd3; */
    background: #f8c9ce;
} 
  .newsImg {
    width: 100%;
    height: 33vh;
    object-fit: cover;
  }
  .newsDetail1{
    padding: 1rem;
    height: 46.5vh;

  }
  .newsT {
    margin: 0;
    font-size: larger;
    font-weight: 500;
    height: 15vh;
    /* max-height: 18vh; */
  }
  
  .newsDesc {
    margin: 0;
    padding: 15px 2px;
    font-size: medium;
    height: 15vh;
  }
  
