.news{
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    height: 80vh;
    background: #f8c9ce;
} 

.newsItem:hover {
  transition: box-shadow 1s ease;
  box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.4);
}
  
  .newsImage {
    width: 100%;
    height: 32vh;
    object-fit: cover;
  }
  
  .newsDetails {
    padding: 1rem;
    height: 36vh;
  }
  
  .badge {
    background-color: #dc3545;
    color: #fff;
    border-radius: 20px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    transition: transform 1s ease;
    transform: translateY(-30%);
  }
  .newsItem:hover .badge {
    transform: translateY(-30%) translateX(-20%); /* Shift badge to the left by 50% of its width */
  }
  .newsTitle {
    padding: 0.5rem 0;
    margin: 0;
    font-size: larger;
    font-weight: 500;
    max-height: 15vh;
  }
  
  .newsDescription {
    margin: 0;
    padding: 5px;
    max-height: 12vh;
    font-size: medium;
    text-align: justify;
    text-justify: inter-word;
  }
  

  .readMoreLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color:  #dc3545;
    color: #fff;
    border-radius: 5px;
    padding: 8px 15px;
    font-weight: 500;
  }
  
  .readMoreLink:hover {
    transition: color 1s ease-in-out, background 1s ease-in-out;
    background: #ba1828;
    color: #989696;
  }
  
  .newsIndex {
    color: #919191;
  }
  .newsDate{
    margin-left: 65%;
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 10px;
    padding: 2px 10px;
    display: flex;
    justify-content: flex-end;
    font-size: small;
  }

  @media (max-width: 768px) {
    .newsTitle {
      height: 18vh;
    }
    
    .newsDescription {
      height: 12vh;
    }
    .newsDetails{
height: 48vh;
    }
    .news{
      height: 95vh;
  } 
  
  }