body {
  margin: 0;
  padding: 0;
}

.navbar-container {
  display: grid;
  grid-template-columns: 0.8fr auto;
  align-items: center;
  background: #FDF8F0;
  padding: 1rem;
  width: 100%;
}

.home{
  margin: 8px;
  font-family: 'Cinzel', serif;
  letter-spacing: 1px;
}
.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar-toggler {
  display: none;
  cursor: pointer;
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  list-style: none;
  margin: 0 ;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 1rem;
  padding: 0 10px;
}

.navbar-links a {
  font-family: 'Cinzel', serif;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
  color: #F0122D;
  padding: 15px;
  margin: 2px;
  display: inline-block; 
  box-sizing: border-box;
  border: 0.01em solid transparent; 
  /* border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%; 
  transition: border 0.5s ease-in-out;*/
  border-radius: 20px;
  transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}
.navbar-links a:hover {
  background-color: #f9ecec;
  border: 0.01em solid #924b4b;
  /* border-style: solid;
  border-width: 0.1em;
  border-color: #581616; */
}
.navbar-links.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 0;
  background-color: #f39aa7;
  width: 100%;
  padding: 1rem; 
  box-sizing: border-box; 
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .navbar-container {
    position: fixed;
    z-index: 999;
    margin-bottom: 2rem;
  }
  .navbar-toggler {
    display: block;
  }

  .navbar-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #343a40;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
  }

  .navbar-links.show {
    display: flex;
  }

  .navbar-links ul {
    flex-direction: column;
    align-items: center;
  }
}
