.text-center {
    margin-top: 0.1em;
    color: #F0122D;

    text-shadow: 2px 2px 7px #581616;
    letter-spacing: 2px;
    word-spacing: 2px;
    background-color: #f5d8d8;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
    /* border-style: solid;
    border-width: 0.1em;
    border-color: #581616; */

    padding-top: 0.5em;
    padding-bottom: 0.7em; 
  }
  
  .main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0.5em 1.5em;
  }
  
  .newsItem {
    flex: 0 0 30%;
    margin: 1.5%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
  }
  
 
  
  @media (max-width: 768px) {
    .text-center{
      padding-top: 8rem;
    }
    .newsItem {
      flex: 0 0 48%;
    }
  }
  
  @media (max-width: 576px) {
    .newsItem {
      flex: 0 0 100%;
    }
  }
